@import '~@fluentui/react/dist/sass/References.scss';

// Style the container for the process component
.processContainer {
  padding: 20px;
}

.formContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actionButtons {
  display: flex;
  gap: 10px; 
  padding: 10px;
  // border-radius: 4px;
  // margin-bottom: 0;
  border-top: 1px solid #beb9b99a;
  border-bottom: 1px solid #beb9b99a;
  background-color: #ffffff;
}

.btn {
  padding: 6px; 
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  cursor: pointer;
}

.btnAdd {
  background-color: #90ee90; /* Light green background */
}

.btnEdit, .btnDelete {
  background-color: transparent;
  border: 1px solid #ffffff;
  &:hover {
    background-color: #bb8b6b9d; 
  }
}

.btn:hover {
  opacity: 0.8;
}

.tableContainer {
  margin: 20px;
}

.tableContainer h1 {
  font-size: 18px;
  margin: 16px 0 8px 0;
  color: #333;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.tableContainer thead {
  background-color: #ffffff;
  color: #333;
  font-weight: bold;
}

.tableContainer th {
  padding: 8px;
  border: none;
  font-size: 14px;
  text-align: center;
}

.tableContainer th:last-child {
  width: 150px; 
}

.tableContainer tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.tableContainer td {
  padding: 8px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #beb8b8;
  border-right: 1px solid #beb8b8;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
}

.tableContainer td input {
  border: none;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.tableContainer td button {
  border: none;
  background: none;
  cursor: pointer;
}

.tableContainer td button:hover {
  opacity: 0.8;
}

.tableContainer select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9; 
  color: #333;
  box-sizing: border-box;
  appearance: none; /* Xóa mũi tên xuống mặc định */
  -webkit-appearance: none; /* Xóa mũi tên trên các trình duyệt WebKit */
  -moz-appearance: none; /* Xóa mũi tên trên Firefox */
  cursor: default;
}

.tableContainer select:disabled {
  background-color: #f9f9f9; 
  color: #666;
}


.buttonGroup {
  display: flex;
  gap: 15px;  
}

.buttonGroup button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px; 
}

.buttonGroup button:hover {
  opacity: 0.8;
}

.btnApprove {
  background-color: #90ee90; 
  border: 1px solid #4CAF50; 
  font-size: 14px;
}

.btnReject {
  background-color: #f8d7da; 
  border: 1px solid #f44336; 
  font-size: 12px;
}


.fileItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.fileItem a {
  margin-left: 8px;
  text-decoration: none;
  color: black;
}

.fileItem a:hover {
  text-decoration: underline;
}

.fileUpload {
  margin-top: 20px;
  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 5px 0;
    a {
      text-decoration: none;
      color: blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popupContent h2 {
  margin-top: 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid #beb9b99a;
  border-bottom: 1px solid #beb9b99a;
}

.popupContent textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.popupContent button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popupContent .submitBtn {
  background-color: #4CAF50;
  color: white;
}

.popupContent .closeBtn {
  background-color: #f44336;
  color: white;
}

.popupContent .buttonContainer {
  display: flex;
  justify-content: center;
}

.popupContent .popupButton {
  width: 100px;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
